/* Empty. Add your own CSS if you like */
.current-weather, 
.date {
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 30px 0 30px 0;
	font-family: 'Roboto', sans-serif;

}

.graphics {
	text-align: center;
}

h1:first-child {
	vertical-align: top;
	display: inline-block;
	margin: 20px 30px 0 30px;
	font-size: 50px;
	color: white;
}

.mainBody {
	background-color: #0078A1;
}
