/* Stats Text*/
.current-weather, 
.date {
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 30px 0 30px 0;
	font-family: 'Roboto', sans-serif;
}

/*cloud and temp*/
.graphics {
	text-align: center;
}

.temperature {
	vertical-align: top;
	display: inline-block;
	margin: 20px 30px 0 30px;
	font-size: 50px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
#title {
	font-size: 25px;
	color: #0085CC;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin: 0 40% 0 40%;
}
/* Body */
.mainBody {
	background-color: #0078A1;
}
